In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read teh csv file into a variable
guns_15 = pd.read_csv("Resources/2015_all_gun_deaths.csv",low_memory=False)
guns_16 = pd.read_csv("Resources/2016_all_gun_deaths.csv",low_memory=False)
guns_17 = pd.read_csv("Resources/2017_all_gun_deaths.csv",low_memory=False)

In [3]:
#Create DataFrames for each year's mortality data file
guns_15_df=pd.DataFrame(guns_15)
guns_16_df=pd.DataFrame(guns_16)
guns_17_df=pd.DataFrame(guns_17)

#Drop the unwanted columns
guns_15_dfc=guns_15_df[['Resident_Status','Month_Of_Death','Sex','Age_Value','Age_Recode_12','Place_Of_Death', 'Marital_Status', 'DOW_of_Death', 'Data_Year','Injured_At_Work', 'Manner_Of_Death','Activity_Code',
'Place_Of_Causal_Injury','Race','Hispanic_Origin_Recode','Cause_Recode_358','ICD10']]
guns_16_dfc=guns_16_df[['Resident_Status','Month_Of_Death','Sex','Age_Value','Age_Recode_12','Place_Of_Death', 'Marital_Status', 'DOW_of_Death', 'Data_Year','Injured_At_Work', 'Manner_Of_Death','Activity_Code',
'Place_Of_Causal_Injury','Race','Hispanic_Origin_Recode','Cause_Recode_358','ICD10']]
guns_17_dfc=guns_17_df[['Resident_Status','Month_Of_Death','Sex','Age_Value','Age_Recode_12','Place_Of_Death', 'Marital_Status', 'DOW_of_Death', 'Data_Year','Injured_At_Work', 'Manner_Of_Death','Activity_Code',
'Place_Of_Causal_Injury','Race','Hispanic_Origin_Recode','Cause_Recode_358','ICD10']]


#Concate the data for 3 years
guns_deaths_df=pd.concat([guns_15_dfc,guns_16_dfc,guns_17_dfc],axis=0)

#Check the details for the combined dataframe
guns_deaths_df.describe()

,Resident_Status,Month_Of_Death,Age_Value,Age_Recode_12,Place_Of_Death,DOW_of_Death,Data_Year,Race,Hispanic_Origin_Recode,Cause_Recode_358
count,115065.000000,115065.000000,115065.000000,115065.000000,115065.000000,115065.000000,115065.000000,115065.000000,115065.000000,115065.000000
mean,1.200174,104.983366,43.359440,6.367957,4.384348,3.925677,2016.030783,1.851232,5.925972,431.372381
std,0.498158,13.000148,23.604272,1.975696,2.001171,2.020446,0.813797,5.713046,1.461467,4.812370
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2015.000000,1.000000,1.000000,407.000000
25%,1.000000,104.000000,26.000000,5.000000,4.000000,2.000000,2015.000000,1.000000,6.000000,429.000000
50%,1.000000,107.000000,40.000000,6.000000,4.000000,4.000000,2016.000000,1.000000,6.000000,429.000000
75%,1.000000,109.000000,57.000000,8.000000,7.000000,6.000000,2017.000000,2.000000,7.000000,435.000000
max,4.000000,112.000000,999.000000,12.000000,9.000000,9.000000,2017.000000,78.000000,9.000000,451.000000

In [7]:
#Decoding the column values in the Dataframe
#guns_deaths_df['Resident_Status'].value_counts()

#Rename columns
guns_deaths_df=guns_deaths_df.rename(columns={"Age_Value":"Age","Age_Recode_12":"Age_Group","Cause_Recode_358":"Causes_of_Death",
                                              "Hispanic_Origin_Recode":"Hispanic_Origin"})

#Column 'Resident_Status'
guns_deaths_df=guns_deaths_df.replace({'Resident_Status':{1:'Residents',2:'Intra_state_NR',3:'Inter_state_NR',4:'Foreign_Residents'}})

#Column 'Month_Of_Death'
guns_deaths_df=guns_deaths_df.replace({'Month_Of_Death':{101:'January',1:'January',102:'February',2:'February',103:'March',3:'March',104:'April',
4:'April',105:'May',5:'May',106:'June',6:'June',107:'July',7:'July',108:'August',8:'August',109:'September',9:'September',110:'October',10:'October',
111:'November',11:'November',112:'December',12:'December'}})

#column 'Age_Recode_12' or 'Age Group'
guns_deaths_df=guns_deaths_df.replace({'Age_Group':{1:'<1',2:'1 - 4',3:'5 - 14',4:'15 - 24',5:'25 - 34',6:'35 - 44',7:'45 - 54',8:'55 - 64',9:'65 - 74',10:'75 - 84',11:'>85',12:'Unknown'}})

# column 'Cause_Recode_358' or 'Causes_of_Death'
guns_deaths_df=guns_deaths_df.replace({"Causes_of_Death":{429:'suicide by firearms',435:'Assault (homicide) by discharge of firearms',451:'legal intervention',407:'Accidental discharge of firearms',446:'Discharge of firearms',450:'Legal intervention'}})

#column 'ICD10'
guns_deaths_df=guns_deaths_df.replace({'ICD10':{' X72':'suicide', ' X74':'suicide', ' X95':'Assault (homicide)', ' X73':'suicide', ' Y24':'undetermined intent', ' X94':'Assault (homicide)', ' Y22':'undetermined intent', ' X93':'Assault (homicide)',
                                                ' W34':'Accidental discharge of firearms', ' W32':'Accidental discharge of firearms', ' Y350': 'legal intervention', ' W33':'Accidental discharge of firearms', ' Y23': 'undetermined intent', 
                                                ' Y356':'legal intervention', ' Y355':'legal intervention', ' Y357':'legal intervention',' Y351':'undetermined intent'}})

#column 'Hispanic_Origin_Recode' or 'Hispanic_Origin'
guns_deaths_df=guns_deaths_df.replace({'Hispanic_Origin':{1:'Mexican',2:'Puerto Rican',3:'Cuban',4:'Central or South American',5:'Other or unknown Hispanic',6:'Non - Hispanic white',7:'Non - Hispanic black',8:'Non - Hispanic other races',9:'Hispanic origin unknown'}})
guns_deaths_df.head(10)


guns_deaths_df['Race'].unique()
#guns_deaths_df.columns

array([ 1,  2,  3, 68,  7, 38, 18, 78,  5, 28, 48,  4, 58,  6],
      dtype=int64)