In [1]:
import pandas as pd
import numpy as np

In [3]:
cd Resources

/Users/christopherjanssen/odrive/swingsetwood - Personal/bootcamp/Projects/Project-1/Resources

In [11]:
guns_12 = pd.read_csv("2012_all_gun_deaths.csv")
guns_15 = pd.read_csv("2015_all_gun_deaths.csv")
guns_16 = pd.read_csv("2016_all_gun_deaths.csv")
guns_17 = pd.read_csv("2017_all_gun_deaths.csv")

In [31]:
guns_15.groupby(["ICD10", "Race"]).sum()

            Unnamed: 0  Resident_Status  Month_Of_Death  Age_Key  Age_Value  \
ICD10 Race
 W32  1       86883103               84            6416       63       2405
      2       17299964               18            1616       15        271
      3        5264749                4             424        4         94
      68       5064706                2             210        2         47
 W33  1       89357391               75            5675       54       2381
...                ...              ...             ...      ...        ...
 Y355 1       30275986               21            1801       17        800
      2       16153638               12             955        9        414
 Y356 1        8868812               12             848        8        290
      2        9733931                8             629        6        213
      38       1137953                4             214        2         56

            Age_Recode_52  Age_Recode_27  Age_Recode_12  Place_Of_Death  \
ICD10 Race
 W32  1              2057            819            365             245
      2               435            135             56              49
      3               122             42             17              19
      68               61             21              9               2
 W33  1              1857            777            351             233
...                   ...            ...            ...             ...
 Y355 1               595            255            115             121
      2               314            134             61              63
 Y356 1               263            103             46              23
      2               197             77             34              19
      38               62             22             10               8

            DOW_of_Death  Data_Year  Cause_Recode_358  Cause_Recode_113  \
ICD10 Race
 W32  1              229     124930             25234              7378
      2               67      30225              6105              1785
      3               12       8060              1628               476
      68               8       4030               814               238
 W33  1              208     108810             21978              6426
...                  ...        ...               ...               ...
 Y355 1               70      34255              7650              2210
      2               35      18135              4050              1170
 Y356 1               28      16120              3608              1040
      2               24      12090              2706               780
      38               5       4030               902               260

            Cause_Recode_39  Entity_Axis_Conditions  Record_Axis_Conditions  \
ICD10 Race
 W32  1                2418                     236                     215
      2                 585                      52                      48
      3                 156                      20                      18
      68                 78                       6                       5
 W33  1                2106                     193                     173
...                     ...                     ...                     ...
 Y355 1                 714                      43                      37
      2                 378                      21                      21
 Y356 1                 336                      37                      35
      2                 252                      25                      24
      38                 84                      13                      10

            Race_Recode_3  Race_Recode_5  Hispanic_Origin  \
ICD10 Race
 W32  1                62             62             7451
      2                45             30             2508
      3                 8             12              400
      68                4              8              200
 W33  1                54             54             5911
...                   ...            ...              ...
 Y355 1                17             17             2540
      2                27             18              900
 Y356 1                 8              8              981
      2                18             12              600
      38                4              8              200

            Hispanic_Origin_Recode
ICD10 Race
 W32  1                        330
      2                        101
      3                         32
      68                        16
 W33  1                        308
...                            ...
 Y355 1                         71
      2                         63
 Y356 1                         47
      2                         42
      38                        16

[115 rows x 20 columns]

,Unnamed: 0,Resident_Status,Education,Month_Of_Death,Sex,Age_Key,Age_Value,Age_Sub_Flag,Age_Recode_52,Age_Recode_27,...,RA18,RA19,RA20,Race,Race_Bridged,Race_Imputation,Race_Recode_3,Race_Recode_5,Hispanic_Origin,Hispanic_Origin_Recode
0,17,1,,101,M,1,48,,35,15,...,,,,1,,,1,1,100,6
1,107,1,,101,F,1,19,,29,9,...,,,,1,,,1,1,100,6
2,171,1,,101,M,1,33,,32,12,...,,,,1,,,1,1,100,6
3,178,3,,101,F,1,23,,30,10,...,,,,2,,,3,2,100,7
4,180,1,,101,F,1,40,,34,14,...,,,,1,,,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36380,2716452,2,,112,M,1,21,,30,10,...,,,,1,,,1,1,275,5
36381,2717047,1,,112,M,1,31,,32,12,...,,,,2,,,3,2,100,7
36382,2717193,2,,112,M,1,16,,29,9,...,,,,2,,,3,2,100,7
36383,2717503,2,,112,M,1,35,,33,13,...,,,,2,,,3,2,100,7
36384,2718080,1,,112,M,1,16,,29,9,...,,,,2,,,3,2,100,7